{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
	<section class="form-shared padding-top-100px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="user-action-form">
                    <div class="tab-shared tab-shared-3">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link theme-btn active" id="login-tab" data-toggle="tab" href="#login-nav" role="tab" aria-controls="login-nav" aria-selected="true">
                                    <i class="la la-sign-in"></i> Login to Account
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link theme-btn" id="signup-tab" href="{% url 'register' %}" role="tab" aria-controls="signup-nav" aria-selected="false">
                                    <i class="la la-user"></i> Register Account
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="login-nav" role="tabpanel" aria-labelledby="login-tab">
                            <div class="billing-form-item mb-0">
                                <div class="billing-title-wrap border-bottom-0 text-center">
                                    <h3 class="widget-title font-size-28 pb-2">Login to Your Account</h3>
                                    <p>Note: Smartalent will never <br> post content to your social pages.</p>
                                </div><!-- billing-title-wrap -->
                                <div class="billing-content">
                                    <div class="contact-form-action">
                                        <form method="post" action="{% url 'login' %}">
                                            
                                            {% if login_form.errors %}
                                                <p>
                                                    Your username and password didn't match.Please try again.
                                                </p>
                                            {% endif %}
                                            {% csrf_token %}
                                            <div class="row">
                                            
                                                <div class="col-lg-12">
                                                    <div class="input-box">
                                                        <label class="label-text">Email Address</label>
                                                        <div class="form-group">
                                                            <i class="la la-user form-icon"></i>
                                                            {% render_field login_form.username|add_class:"form-control" placeholder="Username or Email" %}
                                                            
                                                        </div>
                                                    </div>
                                                </div><!-- end col-lg-12 -->
                                                <div class="col-lg-12">
                                                    <div class="input-box">
                                                        <label class="label-text">Password</label>
                                                        <div class="form-group">
                                                            <i class="la la-lock form-icon"></i>
                                                            {% render_field login_form.password|add_class:"form-control" placeholder="Your password" %}
                                                          
                                                        </div>
                                                    </div>
                                                </div><!-- end col-lg-12 -->
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <div class="custom-checkbox mr-0 d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <input type="checkbox" id="chb1">
                                                                <label for="chb1">Keep me logged in</label>
                                                            </div>
                                                            <div>
                                                                <a href="{% url 'password_reset' %}" class="color-text">Forgot password?</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end col-lg-12 -->
                                                <input type="hidden" name="next" value="{{ next }}" />
                                                <div class="col-lg-12">
                                                    <div class="btn-box margin-top-20px margin-bottom-10px">
                                                        <button class="theme-btn border-0" type="submit">Login Account</button>
                                                    </div>
                                                </div><!-- end col-lg-12 -->
                                                <div class="col-lg-12">
                                                    <p>Don't have an account? <a href="{% url 'register' %}" class="color-text"> Create Account</a></p>
                                                </div><!-- end col-lg-12 -->
                                            </div><!-- end row -->
                                        </form>
                                    </div><!-- end contact-form-action -->
                                </div><!-- end billing-content -->
                            </div><!-- end billing-form-item -->
                        </div><!-- end tab-pane -->
                        
                    </div><!-- end tab-content -->
                </div>
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end form-shared -->
{% endblock content %}