{% extends "account/dashboard_base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ request.user.get_full_name }}'s Profile
{% endblock title %}

{% block main-content %}
    

<div class="dashboard-content-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {{ block.super }}
                    <div class="breadcrumb-content d-flex flex-wrap justify-content-between align-items-center">
                        <div class="section-heading">
                            <h2 class="sec__title">Edit Profile</h2>
                        </div><!-- end section-heading -->
                        <ul class="list-items d-flex align-items-center">
                            <li class="active__list-item"><a href="index.html">Home</a></li>
                            <li class="active__list-item">Dashboard</li>
                            <li>Edit Profile</li>
                        </ul>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="user-profile-action-wrap mb-5">
                        <div class="user-profile-action mb-4 d-flex align-items-center">
                            <div class="user-pro-img">
                                <img src="{% if request.user.profile.cover_photo %}{{ request.user.profile.cover_photo.url }}{% else %}{% static 'images/cover-img.jpg' %}{% endif %}" alt="user-image" class="img-fluid radius-round border">
                            </div>
                            <div class="upload-btn-box">
                                    {% render_field profile_form.cover_photo %}
                                    <p>Max file size is 5MB, Minimum dimension: 200x200 And Suitable files are .jpg &amp; .png</p>
                                   
                            </div>
                        </div><!-- end user-profile-action -->
                        
                    </div><!-- end user-profile-action-wrap -->
                </div><!-- end col-lg-12 -->
                <div class="col-lg-12">
                    <div class="edit-profile-wrap">
                        <div class="user-form-action">
                            <div class="billing-form-item">
                                <div class="billing-title-wrap">
                                    <h3 class="widget-title pb-0">Company Profile</h3>
                                    <div class="title-shape margin-top-10px"></div>
                                </div><!-- billing-title-wrap -->
                                <div class="billing-content">
                                    <div class="contact-form-action">
                                        <form method="post">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-box">
                                                        <label class="label-text">First Name</label>
                                                        <div class="form-group">
                                                            <span class="la la-user form-icon"></span>
                                                            {% render_field user_form.first_name|add_class:"form-control" %}
                                                            
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-6 -->
                                                <div class="col-lg-6">
                                                    <div class="input-box">
                                                        <label class="label-text">Last name</label>
                                                        <div class="form-group">
                                                            <span class="la la-user form-icon"></span>
                                                            {% render_field user_form.last_name|add_class:"form-control" %}
                                                        
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-6 -->
                                                <div class="col-lg-6">
                                                    <div class="input-box">
                                                        <label class="label-text">Company Name</label>
                                                        <div class="form-group">
                                                            <span class="la la-building-o form-icon"></span>
                                                            {% render_field profile_form.company_name|add_class:"form-control" placeholder="Company name" %}
                                                        
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-6 -->
                                                <div class="col-lg-6">
                                                    <div class="input-box">
                                                        <label class="label-text">Email</label>
                                                        <div class="form-group">
                                                            <span class="la la-envelope form-icon"></span>
                                                            {% render_field user_form.email|add_class:"form-control" %}
                                                            
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-6 -->
                                                <div class="col-lg-6">
                                                    <div class="input-box">
                                                        <label class="label-text">Phone</label>
                                                        <div class="form-group">
                                                            <span class="la la-phone form-icon"></span>
                                                            {% render_field profile_form.phone_no|add_class:"form-control" %}
                                                            
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-6 -->
                                                <div class="col-lg-6">
                                                    <div class="input-box">
                                                        <label class="label-text">Website</label>
                                                        <div class="form-group">
                                                            <span class="la la-la-external-link form-icon"></span>
                                                            {% render_field profile_form.website|add_class:"form-control" placeholder="http://www.google.com" %}
                                                            
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-6 -->
                                                
                                                <div class="col-lg-12">
                                                    <div class="input-box">
                                                        <label class="label-text">About Your Company</label>
                                                        <div class="form-group">
                                                            {% render_field profile_form.description|add_class:"message-control form-control pt-3 pr-4 pb-3 pl-4" %}
                                                            
                                                        </div>
                                                    </div><!-- end input-box -->
                                                </div><!-- end col-lg-12 -->
                                                <div class="col-lg-4">
                                                <div class="input-box">
                                                    <label class="label-text">Founded in</label>
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <span class="la la-building-o form-icon"></span>
                                                            {% render_field profile_form.founded_date|add_class:"form-control" placeholder="e.g 1998" %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-4 -->
                                            </div><!-- end row -->
                                        </form>
                                    </div><!-- end contact-form-action -->
                                </div><!-- end billing-content -->
                            </div>
                        </div><!-- end user-form-action -->
                    </div><!-- end edit-profile-wrap -->
                </div><!-- end col-lg-12 -->
                <div class="col-lg-12">
                    <div class="user-form-action">
                        <div class="billing-form-item">
                            <div class="billing-title-wrap">
                                <h3 class="widget-title pb-0">Social Edit</h3>
                                <div class="title-shape margin-top-10px"></div>
                            </div><!-- billing-title-wrap -->
                            <div class="billing-content pb-0">
                                <div class="contact-form-action">
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="input-box">
                                                    <label class="label-text">Facebook</label>
                                                    <div class="form-group">
                                                        <span class="la la-facebook form-icon"></span>
                                                        {% render_field profile_form.facebook_url|add_class:"form-control" placeholder="www.facebook.com/johndoe" %}
                                                        
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-4 -->
                                            <div class="col-lg-4">
                                                <div class="input-box">
                                                    <label class="label-text">Twitter</label>
                                                    <div class="form-group">
                                                        <span class="la la-twitter form-icon"></span>
                                                        {% render_field profile_form.twitter_url|add_class:"form-control" placeholder="www.twitter.com/johndoe" %}
                                                        
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-4 -->
                                            
                                            <div class="col-lg-4">
                                                <div class="input-box">
                                                    <label class="label-text">Linkedin</label>
                                                    <div class="form-group">
                                                        <span class="la la-linkedin form-icon"></span>
                                                        {% render_field profile_form.linkedin_url|add_class:"form-control" placeholder="www.linkedin.com/johndoe" %}
                                                        
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-4 -->
                                            
                                            
                                        </div><!-- end row -->
                                    </form>
                                </div><!-- end contact-form-action -->
                            </div><!-- end billing-content -->
                        </div>
                    </div><!-- end user-form-action -->
                </div><!-- end col-lg-12 -->
                <div class="col-lg-12">
                    <div class="btn-box">
                        <button class="theme-btn border-0" type="submit">Update Changes</button>
                    </div>
                </div>
            </div><!-- end row -->
        </form>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right margin-top-30px padding-top-20px padding-bottom-20px">
                        <p class="copy__desc">
                            Copyright &copy;2020 Smartalent Inc.
                        </p>
                        <ul class="list-items">
                            <li><a href="#">Terms of Use,</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div><!-- end copy-right -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div>

    {% endblock main-content %}